body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  /* font-size: 3rem; */
  margin: auto;
  max-width: 1200px;
  margin-top: 10px;
}
.cart-wrapper{
  width: 1800px;
  margin-left: 50px;
}
html, body{
  max-width: 100%;
  overflow-x: hidden;
}


.top-bar {
  background: linear-gradient(to right, #ddd6f3, #faaca8);
  height: 100px;
  padding: 0 20px;
}
 
.logo {
  width: 120px;
}
 
.small-logo {
  width: 70px;
}
 
.tagline {
  font-family: 'Lobster', cursive;
  color: #FF407D;
  margin-left: 10px;
}
 
.btn-custom {
  background-color: #FF407D;
  color: white;
  border: none;
  /* font-size: 14px; */
}

.btn-custom:hover {
  background-color: #ff40a6;
}
 
.custom-navbar {
  background-color: white;
 
}
 
.nav-hover {
  font-size: 14px;
  transition: color 0.3s;
}
 
.nav-hover:hover {
  color: #FF407D !important;
}
 
.search-box {
  font-size: 14px;
  width: 200px;
}

.bg-custom {
  background-image: url('https://i.pinimg.com/736x/1c/06/80/1c06808a5ce60abb1fddec46c6e4b75b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
}

.card-custom {
  max-width: 480px;
  height: 450px;
}

.input-custom {
  width: 425px;
}

.eye-icon {
  margin-left: 4px;
}



.button-add-address {
  background-color: #FF406D;
  border-color: #FF406D;
}

.button-add-address:hover {
  background-color: #FF85A2;
  border-color: #FF85A2;
}

.container-full-height {
  min-height: 100vh;
  background-color: #FFF3F6;
}

.card-profile {
  border-radius: 15px;
  background: white;
}

.profile-initial-circle {
  width: 80px;
  height: 80px;
  background-color: #FF85A2;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.address-item-card {
  background-color: #FFF0F5;
  border-radius: 12px;
  display: flex;
}

.button-outline-add {
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.button-outline-add:hover {
  background-color: #FF85A2;
}