body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
   font-size: 1rem; 
  margin: auto;
  max-width: 100px;
  margin-top: 5px;
}


.btn-custom {
  background-color: #FF407D;
    color: white;
    border: none;
    
}
.btn-custom:hover, active {
  background-color: #ff40a6;
}



.cart-wrapper{
  width: 1000px;
}

.address-container{
  height: 450px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}